[submodule "public/projects/minesweeper"]
	path = public/projects/minesweeper
	url = git@github.com:BradleyStaples/minesweeper.git
[submodule "public/projects/cards"]
	path = public/projects/cards
	url = git@github.com:BradleyStaples/Remember-The-Ginger.git
