%footer.padding-medium
  = render :partial => 'shared/navigation', :locals => {:navClass => "nav-footer hidden"}
  .text-center.text-small
    =link_to "CopyHeart", "http://copyheart.org"
    ♡ #{Date.today.year} by Bradley Staples.
    %br
    Copying Art &amp; Code is an act of love. Please copy and share.
