.contents-wrapper.padding-large.centered
  %p.text-flush.text-notice.text-emphasis.intro-note
    Lover of JavaScript, HTML &amp; CSS. Soulless ginger who writes magic as object literals to trick HAL into fighting SKYNET while judged by Chuck Norris.
  %hr.margin-small.intro-note
  %p
    JavaScript. Ruby. HTMl. SQL. CSS. PHP. The web's languages are many and diverse; I may specialize in front-end technologies, but I enjoy getting dirty across the full stack. My passion, and that of those around me, drives me. New technological emergences excite me. The internet is my outlet, my playground, and my career.
  %p
    I love the web, and daily I try to show it. By abusing it, breaking it, and taking it to places it probably doesn't want to go. I don't even buy it a drink first.
