.contents-wrapper.padding-large.centered
  %ul.no-list.margin-none.padding-none
    - @portfolios.each do |p|
      %li.clearfix.padding-none.project-container.limit-height
        .project-entry
          .project-thumbnail-container
            %a.project-thumbnail-link{:href => asset_path("portfolios/#{p.image}", :digest => false), :target => '_blank', :title => p.name}
              %img.project-thumbnail.img-polaroid{:src => asset_path("portfolios/thumbs/#{p.image}", :digest => false)}
          = link_to p.name, p.url, :target => "_blank", :class => 'text-dense project-title'
          %p.clear-both
            #{p.description.html_safe}
        %a.project-more.text-center.text-small{:href => '#'}
          Read more
        .project-divider

#standardEcom.modal.hide.fade
  .modal-header
    %button.close{:"data-dismiss" => "modal"}
      &times;
    %h3
      TWG's Standard Ecommerce System
  .modal-body
    %p
      While working at TWG Design Studios, code was typically written in classic ASP. Good, solid solutions for ecommerce sites were scarce or didn't meet the company needs, so I spent several months modeling, coding, testing, and otherwise creating a modular, customizable, cohesive system. Clients could control virtually everything via an admin panel. Features included:
    %ul
      %li
        %strong
          Payment Gateway options
        including PayPal and Authorize.net.
      %li
        %strong
          Choice of one or more shipping carriers
        including FedEx, USPS and UPS.
      %li
        %strong
          Multiple shipment types
        including freight, packages and flat rates.
      %li
        %strong
          Conditional rules could be applied
        for free shipping for orders over a certain dollar threshold during checkout.
      %li
        %strong
          Inventory Management
        of products categories, subcategories and tags. Products could contain 'options' (for example, sizes and colors for shirts) in a many-to-many relationship. For clients who sold digital goods or had no worries about an item being in stock, the system supported a virtual 'infinite' toggle for inventory.
      %li
        %strong
          Promotional opportunities
        including coupons, discounts and sales prices.
      %li
        %strong
          Multiple image uploads for categories and products.
        Images were cropped and utilized as thumbnails, pan-over zooms, light box effects, and were paginated as a small gallery as needed on the product details pages.
      %li
        %strong
          Customer cart control
        could be done from any page without the need to go to an 'edit cart' page, via mega menus and heavy ajax usage. Updating the quantities and pre-calculating shipping and taxes could be done on the edit cart and starting checkout pages.
      %li
        %strong
          Full account management for site customers,
        although creating an account was optional. Customers had access to full purchase history, order tracking, address management, one-click order duplication, wish lists, reviews, product alerts, submitting/tracking customer service tickets and satisfaction surveys.
  .modal-footer
    %button.btn{:"data-dismiss" => "modal"}
      Close
