.contents-wrapper.padding-large.centered
  %ul.no-list.margin-none.padding-none
    - @portfolios.each do |p|
      %li.clearfix.padding-none.project-container
        .project-entry
          .project-thumbnail-container
            %a.project-thumbnail-link{:href => image_path("portfolios/#{p.image}"), :target => '_blank', :title => p.name}
              %img.project-thumbnail.img-polaroid{:src => image_path("portfolios/thumbs/#{p.image}")}
          = link_to p.name, p.url, :target => "_blank", :class => 'text-dense project-title'
          %p.clear-both.text-small
            #{p.description.html_safe}
        .project-divider
