.contents-wrapper.padding-large.centered
  %ul.no-list.margin-none.padding-none
    - @projects.each do |p|
      %li.clearfix.padding-none.project-container.limit-height
        .project-entry
          .project-thumbnail-container
            %a.project-thumbnail-link{:href => asset_path("projects/#{p.image}", :digest => false), :target => '_blank', :title => p.name}
              %img.project-thumbnail.img-polaroid{:src => asset_path("projects/thumbs/#{p.image}", :digest => false)}
          = link_to p.name, p.url, :target => "_blank", :class => 'text-dense project-title'
          %p.github-link.text-tiny
            %a{:href => p.github, :target => '_blank' } GitHub repo
          %p.clear-both
            #{p.description.html_safe}
        %a.project-more.text-center.text-small{:href => '#'}
          Read more
        .project-divider.clear-both
