.contents-wrapper.padding-large.centered
  .clearfix
    .col
      %h2 Skills
      .resume-block
        %ul
          %li X/HTML (including HTML5)
          %li CSS (including 3)
          %li
            JavaScript
            %ul
              %li jQuery (obviously)
              %li OOP Methodology
          %li Classic ASP
          %li
            PHP
            %ul
              %li WordPress
              %li OOP Methodology
          %li
            Databases
            %ul
              %li MySQL
              %li SQL Server
              %li Access
      %h2 Software Experience
      .resume-block
        %ul
          %li XAMPP
          %li Windows & Mac OS X
          %li SQL Server Management
          %li
            Adobe Suite
            %ul
              %li Photoshop
              %li Flash
              %li Acrobat (Interactive PDFs)
              %li Dreamweaver
          %li MS Office Suite (obviously)
          %li Variety of IDEs and Text Editors. Prefer Sublime Text 2
    .col
      %h2 Work Experience
      .resume-block
        %p
          %a{:href => "http://www.thewebguys.com/"} TWG Design Studios
        %p Programmer
        %p January 2008 to January 2012
      %h2 Education
      .resume-block
        %p
          %a{:href => "http://www.elizabethtown.kctcs.edu/"} Elizabethtown Community & Technical College
        %p Elizabethtown, Kentucky
        %p AAS (Web Design & Development)
        %p May 2007
      %h2 Limited Exposure
      .resume-block
        %ul
          %li Linux (both GUI and CLI)
          %li .NET – primarily VB, very small amounts of C#
          %li ActionScript 2/3
          %li IIS 6-7
          %li Apahce
          %li Eclipse with CVS
