* {@include box-sizing(border-box);}

html, body {
  font-size: $baseFontSize;
  line-height: $baseFontSize + 5px;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial;
  font-weight: 300;
  color: $brown;
}

body {
  background-color: #e5efea;
  background-image: url(image_path('body_bg.jpg'));
  background-repeat: repeat;
  background-postion: center center;
  background-attachment: fixed;
}


a {
  color: $blue;
  text-decoration: none;
  border-bottom: px2em(1px)  solid transparent;
  @include transition-property(color, border-color);
  @include transition-duration(.5s);
  &:hover {
    text-decoration: none;
    color: lighten($blue, 20%);
    border-bottom: px2em(1px) dotted lighten($blue, 20%);
  }
}

h1 {
  color: darken($blue, 5%);
  @include text-shadow(rgba(#fff, 0.5) px2em(2px) px2em(1px) 0);
}

h2 {
  color: darken($brown, 10%);
  @include text-shadow(rgba(#fff, 0.5) px2em(2px) px2em(2px) 0);
}

h3 {
  color: darken($brown, 5%);
}

hr {
  height: 0;
  border-top: px2em(1px) solid lighten($orange, 10%);
  border-bottom: px2em(1px) solid darken($orange, 5%);
}

::-moz-selection {
  background: lighten($blue, 25%);
  color: $brown;
  @include text-shadow(rgba(#fff, 0.5) px2em(2px) px2em(2px) 0);
}
::selection {
  background: lighten($blue, 25%);
  color: $brown;
  @include text-shadow(rgba(#fff, 0.5) px2em(2px) px2em(2px) 0);
}

.site-title {
  font-size: px2em(54px);
  line-height: px2em(59px, 54px);
  @include text-shadow(
    #fff px2em(-1px) px2em(-1px) 0,
    #fff px2em(1px) px2em(-1px) 0,
    #fff px2em(-1px) px2em(1px) 0,
    #fff px2em(1px) px2em(1px) 0
  );
  margin: 0 px2em(5px, 54px) 0 0;
  padding: 0;
}

.contents-wrapper {
  background-color: rgba(255, 255, 255, .7);
  @include border-radius(.5em);
  border: px2em(5px) solid #fff;
  @include box-shadow(rgba(0,0,0,0.2) 0 0 px2em(8px));
  width: 80%;
  min-height: px2em(300px);
}

.navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  & li {
    list-style: none;
    display: inline-block;
  }
}

.info-tooltip {
  text-align: center;
  display: inline-block;
  height: px2em(20px);
  width: px2em(20px);
  border-radius: 50%;
  background-color: lighten($orange, 10%);
  color: #fff;
  @include transition-property(background-color);
  @include transition-duration(.5s);
  cursor: pointer;
  & :hover {
    background-color: darken($orange, 5%);
  }
}

.project-tooltip {
  margin-top: 7px;
  margin-left: 5px;
  position: relative;
  .project-tooltip-contents.hidden {
    opacity: 0;
    @include transition-property(opacity);
    @include transition-duration(.5s);
  }
  .project-tooltip-contents {
    opacity: 1;
    @include border-radius(.5em);
    z-index: 5;
    width: 400px;
    overflow: hidden;
    background: #fff;
    border: px2em(2px) solid $orange;
    @include box-shadow($brown 0 0 px2em(5px));
    position: absolute;
    top: -80px;
    left: 0px;
    color: $brown;
    cursor: default;
  }
}

.flash-info, .flash-warning {
  width: px2em(350px);
  margin-top: px2em(15px);
  margin-bottom: px2em(15px);
  @include border-radius(px2em(10px));
  @include transition-property(opacity, padding);
  @include transition-duration(2s);
  &.fade-out {
    opacity: 0;
    padding: 0;
  }
}
.flash-info {
    color: #fff;
    background-color: #49afcd;
    @include box-shadow(rgba(0,0,0,0.2) 0 0 px2em(8px));
}
.flash-warning {
  color: darken($errorColor, 20%);
  background-color: lighten($errorColor, 20%);
  @include box-shadow(rgba(darken($errorColor, 20%),0.2) 0 0 px2em(8px));
}

@media only screen and (min-width:px2em(480px)) {
  .contents-wrapper {
    width: 90%;
    border: px2em(7px) solid #fff;
    @include box-shadow(rgba(0,0,0,0.2) 0 0 px2em(10px));
  }
  .intro-note {
    max-width: px2em(400px);
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width:720px) {
  .contents-wrapper {
    max-width: px2em(680px);
    border: px2em(10px) solid #fff;
    @include box-shadow(rgba(0,0,0,0.2) 0 0 px2em(13px));
  }
}

@media only screen and (min-width:860px) {
  .contents-wrapper {
    max-width: px2em(820px);
  }
}

@media only screen and (min-width:960px) {
  .contents-wrapper {
    max-width: px2em(920px);
    font-size: px2em(20px);
  }
}

@media only screen and (min-width:1050px) {
  .contents-wrapper {
    max-width: px2em(1000px);
  }
}

@media only screen and (min-width:1350px) {

}
