.github-link {
  margin-top: px2em(15px);
}

.fancybox-close, .fancybox-close:hover {
  border-bottom: none;
}

.project-container {
  margin-bottom: px2em(10px);
  margin-top: px2em(10px);
}

.project-more {
  display: none;
}

.limit-height {
  .project-entry {
    position: relative;
    max-height: px2em(200px);
    overflow: hidden;
    margin-bottom: px2em(10px);
  }

  .project-entry:after {
    content: "";
    width: 100%;
    position: absolute;
    bottom: 0;
    height: px2em(35px);
    @include background-image(linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, .75)));
  }

  .project-more {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 120px;
  }
}

.project-divider {
  border-top: px2em(1px) solid lighten(rgba($orange, .5), 10%);
  border-bottom: px2em(1px) solid darken(rgba($orange, .5), 10%);
  @include box-shadow(rgba($brown, .1) 0 0 px2em(1px));

}

.project-title {
  max-width: px2em(125px);
}

.project-thumbnail-container {
  float: right;
  margin-left: px2em(10px);
  margin-bottom: px2em(10px);
}

.project-thumbnail {
  max-width: px2em(75px);
  @include box-shadow(none);
  @include transition-property(all);
  @include transition-duration(.5s);
  @include transition-timing-function(ease);
  &:hover {
    @include box-shadow(rgba(0,0,0,0.5) 0 0 px2em(5px));
    @include border-radius(15%);
  }
}
