.info-tooltip {
  text-align: center;
  display: inline-block;
  height: px2em(22px);
  width: px2em(22px);
  border-radius: 50%;
  background-color: lighten($blue, 15%);
  text-indent: px2em(-2px);
  padding-top: px2em(2px);
  @include box-shadow(rgba(0,0,0,0.1) 0 0 px2em(3px));
  color: #fff;
  @include transition-property(background-color);
  @include transition-duration(.5s);
  cursor: pointer;
  &:hover {
    background-color: $blue;
  }
  &.hidden {
    display: none;
  }
}

.github-link {
  float: right;
}
.info-link {
  float: left;
}

.project-container {
  margin-bottom: px2em(20px);
  border-bottom: px2em(2px) solid $brown;
}

.project-title {
  float: left;
  max-width: px2em(125px);
}
.thumbnail-container {
  float: right;
  margin-left: px2em(10px);
  margin-bottom: px2em(10px);
  img {
    max-width: px2em(75px);
  }
}

.project-tooltip {
  margin-top: 5px;
  margin-left: 5px;
  position: relative;
}
